<nav class="navbar navbar-expand-xl navbar-light bg-gradient bg-warning">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Recipe Book</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-link active"><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
          <li class="nav-link active"><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="manageMenuContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button"
             id="navbarDropdown" data-toggle="dropdown">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
