<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item list-group-item-action clearfix">
      <div class="float-start">
        <h4 class="mb-1">Recipe Name</h4>
        <small>Description</small>
      </div>
      <span class="float-end">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Recipe.jpg" alt="" class="img-fluid" style="max-height: 50px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
